<!--The content below is only a placeholder and can be replaced.-->
<head>
  <title>User Panel</title>
</head>

<div class="header">
  <title>User Panel</title>
  <h1>
    Welcome!
  </h1>
  <table class="navbarHeader">
    <tr>
      <th>
        <a (click)=dbrecipesClicked()>All Recipes</a>
      </th>
    </tr>
  </table>
</div>

<nav class="tableSwap">
  <img src="https://raw.githubusercontent.com/chang5CAL/RecipeList/master/src/assets/images/RecipeButton.png" id="recipesButton" (click)="recipeClicked()"/>
  <img src="https://raw.githubusercontent.com/chang5CAL/RecipeList/master/src/assets/images/EquipmentButton.png" id="equipmentButton" (click)="equipmentClicked()"/>
  <img src="https://raw.githubusercontent.com/chang5CAL/RecipeList/master/src/assets/images/IngredientsButton.png" id="ingredientsButton" (click)="ingredientsClicked()"/>
</nav>

<app-user-detail class="divTables" id="recipediv" [class.hidden]="showEquipment || showIngredients || showRecipes"></app-user-detail>
<app-equipment class="divTables" id="ingredientdiv" [class.hidden]="!showEquipment"></app-equipment>
<app-ingredients class="divTables" id="ingredientdiv" [class.hidden]="!showIngredients"></app-ingredients>
<app-recipes class="divTables" id="ingredientdiv" [class.hidden]="!showRecipes"></app-recipes>
<!-- ul >
<div class="divTables" id="recipediv" [class.hidden]="showEquipment || showIngredients">
</div>

<div class="divTables" id="ingredientdiv" [class.hidden]="!showIngredients">
</div>

< /ul -->

<router-outlet></router-outlet>
