<!--The content below is only a placeholder and can be replaced.-->
  <table>
    <tr>
      <th>
        Recipe Link
      </th>
      <th>
        Ingredients
      </th>
      <th>
        Equipment
      </th>
      <th>
        <a>Save</a>
      </th>
    <tr>

    <tr *ngFor="let recipe of Recipes">
      <th>
        <a href={{ recipe.source }}>
          {{ recipe.name}}
          <!--Yes, I realize I don't have the ingredients right.-->
        </a>
      </th>
      <th>
        {{ recipe.ingredients }}
      </th>
      <th>
        {{ recipe.equipment }}
      </th>
      <th>
        <input class="saveRecipeButton" type="submit" value="Save">
      </th>
    </tr>
  </table>
<!--router-outlet></router-outlet-->
