<!--The content below is only a placeholder and can be replaced.-->
<head>
  <title>Recipes</title>
</head>

<div style="text-align:center">
  <h1>
    Recipes!
  </h1>

  <table>
    <tr>
      <th>
        <a href="https://chang5cal.github.io/RecipeList">User Page</a>
      </th>
      <th>
        <a href="register">Register</a>
      </th>
    </tr>
  </table>
</div>
<br>
<br>
<br>

<div>
  <table>
    <tr>
      <th>
        Recipe Link
      </th>
      <th>
        Ingredients
      </th>
      <th>
        Equipment
      </th>
      <th>
        <a>Save</a>
      </th>
    <tr>

    <tr>
      <th>
        <a href="https://www.foodnetwork.com/recipes/food-network-kitchen/ultimate-ham-sandwich-recipe-2105834">
          Sandwich
          <!--Yes, I realize I don't have the ingredients right.-->
        </a>
      </th>
      <th>
        Bread, Ham
      </th>
      <th>
        None
      </th>
      <th>
        Saved
      </th>
    </tr>

    <tr>
      <th>
        <a href="https://www.geniuskitchen.com/recipe/old-fashioned-vegetable-beef-soup-58901">
          Beef Soup
          <!--Yes, I realize I don't have the ingredients right.-->
        </a>
      </th>
      <th>
        Beef, Onion, Celery
      </th>
      <th>
        Pot, Stove
      </th>
      <th>
        <input class="saveRecipeButton" type="submit" value="Save">
      </th>
    </tr>

  </table>
</div>
<!--router-outlet></router-outlet-->
