<h2 class="tableHeaders">Stored Recipes</h2>
<table>
  <tr>
    <th>
      Recipe Link
    </th>
    <th>
      Ingredients
    </th>
    <th>
      Equipment
    </th>
    <th>
      Remove
    </th>
  </tr>
  <tr *ngFor="let recipe of Recipes">
    <th>
      <a href={{ recipe.source }}>
        {{ recipe.name }}
        <!--Yes, I realize I don't have the ingredients right.-->
      </a>
    </th>
    <th>
      {{ recipe.ingredients }}
    </th>
    <th>
      {{ recipe.equipment }}
    </th>
    <th>
      <a>Remove</a>
    </th>
  </tr>
</table>
