<div style="text-align:center">
  <h1>
    Login
  </h1>
  <nav>
    <table>
      <tr>
        <th><a href="/">User Page</a></th>
        <th><a href="recipe">Recipes</a></th>
      </tr>
    </table>
  </nav>
</div>

<br>
<form>
  Username: <input type="text"><br>
  Password: <input type="text"><br>
  <input type="submit" value="Login">
</form>
<br>
<br>
<p><b>New user?</b></p>
<form>
  Username: <input type="text"><br>
  Password: <input type="text"><br>
  <input type="submit" value="Register">
</form>
